{% extends "layout.html" %}

{% block body_content %}
<p>Current Teams</p>
<style>
	table, th, td {
			border:1px solid black;
	}
</style>

<div>
<table style="width:100%">
	<tr>
		<th>Week/team name</th>
		<th>Player1</th>
		<th>Player2</th>
		<th>Player3</th>
        <th>Player4</th>
        <th>Player5</th>
	</tr>
	{% for team in teams %}
	<tr>
	
			<td>{{ team.teamname }}</td>
			<td>{{ team.player1 }}</td>
			<td>{{ team.player2 }}</td>
			<td>{{ team.player3 }}</td>
            <td>{{ team.player4 }}</td>
			<td>{{ team.player5 }}</td>			
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
